// this must be in styles.scss
@import "../node_modules/ag-grid-community/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/styles/ag-theme-balham.css";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}